.video{
  padding: 94px 0 95px;


  &__title{
    @include font(600, 36px, 43px);
  }

  &__desc{
    @include font(normal, 14px, 140%);
    margin: 30px 0 20px;
  }

  &__link{
    @include font(500, 14px, 140%);
    color: $primary-color;
  }
  &__item-2{
   position: relative;
    .video__img {
      width: 100%;
    }
  }

  &__play{
    width: 66px;
    height: 66px;
    background-color: $primary-color;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }
